.userIcon {
  width: 56px;
  height: 56px;
  position: relative;
  border-radius: var(--br-pill1);
  overflow: hidden;
  flex-shrink: 0;
}
.modelName {
  position: relative;
  line-height: 130%;
  font-weight: 500;
}
.textWrapper,
.topWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.textWrapper {
  padding: 0 31.5px;
}
.topWrapper {
  gap: var(--default-gaps-default-gaps-gap-medium);
}
.lineRoundedphotoIcon {
  height: 12px;
  width: 12px;
  position: relative;
  display: none;
}
.cardTitle {
  position: relative;
  font-size: var(--display-1-medium-size);
  line-height: 16px;
  font-weight: 500;
  font-family: var(--display-1-medium);
  color: var(--buttons-secondary-text-text-light-mode);
  text-align: right;
  display: inline-block;
  min-width: 55px;
}
.lineRoundedsettingsIcon {
  height: 15px;
  width: 15px;
  position: relative;
  display: none;
}
.badgeText,
.tabBadge {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.badgeText {
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.tabBadge {
  cursor: pointer;
  border: 1px solid var(--cards-borders-br-color-1);
  padding: var(--padding-7xs) 9px;
  background-color: transparent;
  flex: 1;
  border-radius: var(--br-181xl);
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
}
.lineRoundedfileIcon {
  height: 12px;
  width: 12px;
  position: relative;
  display: none;
}
.cardTitle1 {
  position: relative;
  line-height: 16px;
  font-weight: 500;
  display: inline-block;
  min-width: 54px;
}
.lineRoundedsettingsIcon1 {
  height: 15px;
  width: 15px;
  position: relative;
  display: none;
}
.badgeText1,
.tabBadge1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.badgeText1 {
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.tabBadge1 {
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  padding: var(--tabs-tables-paddings-pd-small) 10.2px
    var(--tabs-tables-paddings-pd-small) 10.3px;
}
.lineRoundedfileIcon1 {
  height: 12px;
  width: 12px;
  position: relative;
  display: none;
}
.cardTitle2 {
  position: relative;
  line-height: 16px;
  font-weight: 500;
  display: inline-block;
  min-width: 31px;
}
.lineRoundedsettingsIcon2 {
  height: 15px;
  width: 15px;
  position: relative;
  display: none;
}
.badgeText2,
.tabBadge2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.badgeText2 {
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.tabBadge2 {
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  padding: var(--tabs-tables-paddings-pd-small) 21.7px
    var(--tabs-tables-paddings-pd-small) 21.8px;
}
.lineRoundedlinkIcon {
  height: 12px;
  width: 12px;
  position: relative;
  display: none;
}
.cardTitle3 {
  position: relative;
  line-height: 16px;
  font-weight: 500;
  display: inline-block;
  min-width: 25px;
}
.lineRoundedsettingsIcon3 {
  height: 15px;
  width: 15px;
  position: relative;
  display: none;
}
.badgeText3 {
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.badgeText3,
.tabBadge3,
.tabExample {
  display: flex;
  flex-direction: row;
}
.tabBadge3 {
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: var(--tabs-tables-paddings-pd-small) 24.7px
    var(--tabs-tables-paddings-pd-small) 24.8px;
}
.tabExample {
  align-self: stretch;
  border-radius: var(--default-gaps-default-gaps-gap-large);
  background-color: var(--cards-borders-br-color-1);
  overflow-x: auto;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs);
  gap: 6px;
  text-align: right;
  font-size: var(--display-1-medium-size);
}
.messageSettings {
  width: 372px;
  border-left: 1px solid var(--cards-borders-br-color-2);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--sizes-size-6) var(--padding-4xl);
  gap: 32px;
  mix-blend-mode: normal;
  min-width: 372px;
  max-width: 100%;
}
.bottomActions,
.chatMessageSidebar,
.mainBodyWrapper,
.messageSettings {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.bottomActions {
  align-self: stretch;
  flex-direction: column;
  max-width: 100%;
}
.chatMessageSidebar,
.mainBodyWrapper {
  box-sizing: border-box;
}
.mainBodyWrapper {
  flex: 1;
  box-shadow: var(--neutral-bs-small);
  border-radius: var(--br-base);
  background-color: var(--sections-bg-color-1);
  border: 1px solid var(--cards-borders-br-color-1);
  flex-direction: column;
  gap: 241px;
  min-width: 583px;
  max-width: 100%;
}
.chatMessageSidebar {
  width: 100%;
  position: relative;
  border-radius: var(--br-size-4);
  background-color: var(--sections-bg-color-2);
  overflow-y: auto;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-2xs) 13px 0;
  line-height: normal;
  letter-spacing: normal;
  row-gap: 20px;
  text-align: left;
  font-size: var(--paragraph-default-regular-size);
  color: var(--buttons-secondary-text-text-light-mode);
  font-family: var(--display-1-medium);
}
@media screen and (max-width: 1025px) {
  .messageSettings {
    flex: 1;
  }
  .chatMessageSidebar {
    flex-wrap: wrap;
    padding-left: var(--padding-2xs);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 975px) {
  .mainBodyWrapper {
    gap: 120px;
  }
}
@media screen and (max-width: 725px) {
  .mainBodyWrapper {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .messageSettings {
    gap: var(--gap-base);
    min-width: 100%;
  }
  .mainBodyWrapper {
    gap: 60px;
  }
}
