.topBarTitle {
  position: relative;
  line-height: 21px;
  font-weight: 500;
  display: inline-block;
  min-width: 45px;
  white-space: nowrap;
}
.lineRoundedcommandIcon {
  height: 11px;
  width: 11px;
  position: relative;
  display: none;
}
.buttonText {
  align-self: stretch;
  position: relative;
  line-height: 130%;
  font-weight: 500;
}
.lineRoundedcommandIcon1 {
  height: 11px;
  width: 11px;
  position: relative;
  display: none;
}
.badge,
.titleBadge {
  flex-direction: row;
  align-items: center;
}
.badge {
  height: 28px;
  box-shadow: var(--neutral-bs-small);
  border-radius: var(--badges-small1);
  background-color: var(--sections-bg-color-2);
  display: none;
  justify-content: center;
  padding: var(--badges-paddings-pd-small1);
  box-sizing: border-box;
  gap: var(--badges-gaps-gap-small1);
  text-align: center;
  font-size: var(--display-1-medium-size);
}
.titleBadge {
  display: flex;
  justify-content: flex-start;
  gap: var(--default-gaps-default-gaps-gap-small);
}
.lineRoundedsearchIcon {
  height: 13px;
  width: 13px;
  position: relative;
}
.placeholder {
  align-self: stretch;
  position: relative;
  line-height: 130%;
  white-space: nowrap;
}
.placeholderWrapper {
  height: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.lineRoundedsearchIcon1,
.lineRoundedsearchIcon2 {
  height: 12px;
  width: 12px;
  position: relative;
  display: none;
}
.buttonText1 {
  align-self: stretch;
  position: relative;
  line-height: 130%;
  font-weight: 500;
}
.lineRoundedarrowRigth {
  height: 10px;
  width: 10px;
  position: relative;
}
.primaryButton {
  height: 32px;
  box-shadow: var(--button-primary);
  border-radius: var(--buttons-regular);
  background: linear-gradient(180deg, #2b7afb, #2174fd, #213bfd);
  border: 1px solid var(--buttons-border-primary-gradient);
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--buttons-paddings-pd-small) var(--padding-mini);
  gap: var(--buttons-gaps-gap-small);
  color: var(--sections-bg-color-1);
}
.lineRoundedcommandIcon2 {
  height: 11px;
  width: 11px;
  position: relative;
}
.buttonText2 {
  align-self: stretch;
  position: relative;
  line-height: 130%;
  font-weight: 500;
}
.lineRoundedcommandIcon3 {
  height: 11px;
  width: 11px;
  position: relative;
  display: none;
}
.badge1 {
  align-self: stretch;
  box-shadow: var(--neutral-bs-small);
  border-radius: var(--badges-small1);
  background-color: var(--sections-bg-color-2);
  display: flex;
  justify-content: center;
  padding: var(--badges-paddings-pd-small1);
  gap: var(--badges-gaps-gap-small1);
  text-align: center;
  color: var(--buttons-secondary-text-text-light-mode);
}
.badge1,
.inputText,
.topMenuLeft {
  flex-direction: row;
  align-items: center;
}
.inputText {
  height: 40px;
  width: 306px;
  box-shadow: var(--neutral-bs-small);
  border-radius: var(--inputs-select-small);
  background-color: var(--sections-bg-color-1);
  border: 1px solid var(--cards-borders-br-color-1);
  box-sizing: border-box;
  display: none;
  justify-content: space-between;
  padding: var(--inputs-input-text-paddings-pd-small)
    var(--inputs-input-text-paddings-pd-small)
    var(--inputs-input-text-paddings-pd-small)
    var(--inputs-input-text-paddings-pd-regular);
  min-height: 39px;
  gap: -35.33px;
  font-size: var(--display-1-medium-size);
  color: var(--inputs-select-text-text-neutral);
}
.topMenuLeft {
  display: flex;
  justify-content: flex-start;
  gap: var(--default-gaps-default-gaps-gap-large);
}
.lineRoundedsettingsIcon {
  height: 12px;
  width: 12px;
  position: relative;
}
.buttonText3 {
  height: 16px;
  position: relative;
  line-height: 130%;
  font-weight: 500;
  display: inline-block;
  white-space: nowrap;
}
.lineRoundedarrowRigth1 {
  height: 10px;
  width: 10px;
  position: relative;
  display: none;
}
.secondaryButton {
  height: 34px;
  box-shadow: var(--neutral-bs-small);
  border-radius: var(--buttons-regular);
  background-color: var(--sections-bg-color-2);
  border: 1px solid var(--cards-borders-br-color-1);
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--buttons-paddings-pd-small) var(--buttons-paddings-pd-regular);
  gap: var(--buttons-gaps-gap-small);
}
.lineRoundedplusIcon {
  height: 12px;
  width: 12px;
  position: relative;
}
.buttonText4 {
  position: relative;
  line-height: 16px;
  font-weight: 500;
  display: inline-block;
  min-width: 55px;
  white-space: nowrap;
}
.lineRoundedarrowRigth2 {
  height: 10px;
  width: 10px;
  position: relative;
  display: none;
}
.primaryButton1 {
  box-shadow: var(--button-primary);
  border-radius: var(--buttons-regular);
  background: linear-gradient(180deg, #2b7afb, #2174fd, #213bfd);
  border: 1px solid var(--buttons-border-primary-gradient);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-mini);
  gap: var(--buttons-gaps-gap-small);
  color: var(--sections-bg-color-1);
}
.circleAvatarIcon {
  height: 32px;
  width: 32px;
  position: relative;
  border-radius: var(--br-pill);
  overflow: hidden;
  flex-shrink: 0;
}
.placeholder1 {
  align-self: stretch;
  position: relative;
  line-height: 130%;
  font-weight: 500;
  white-space: nowrap;
}
.lineRoundedchevronDown {
  height: 16px;
  width: 16px;
  position: relative;
}
.accountName,
.accountWrapper {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.accountName {
  height: 18px;
  display: flex;
  gap: var(--default-gaps-default-gaps-gap-tiny);
}
.accountWrapper {
  display: none;
  gap: var(--default-gaps-default-gaps-gap-small);
  text-align: left;
  font-size: var(--paragraph-default-regular-size);
}
.divider {
  height: 34px;
  width: 1.5px;
  position: relative;
  border-right: 1.5px solid var(--cards-borders-br-color-1);
  box-sizing: border-box;
  display: none;
}
.lineRoundedarchiveIcon,
.lineRoundedsettingsIcon1,
.lineRoundedsidebarRight,
.lineRoundedtrashIcon {
  height: 16px;
  width: 16px;
  position: relative;
  min-height: 16px;
}
.actionIcons,
.topBarWrapper,
.topMenuRight {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.actionIcons {
  display: none;
  gap: var(--default-gaps-default-gaps-gap-default);
}
.topBarWrapper,
.topMenuRight {
  display: flex;
  gap: var(--default-gaps-default-gaps-gap-medium);
  text-align: center;
  font-size: var(--display-1-medium-size);
}
.topBarWrapper {
  align-self: stretch;
  background-color: var(--sections-bg-color-1);
  border-bottom: 1px solid var(--cards-borders-br-color-2);
  overflow: hidden;
  justify-content: space-between;
  padding: var(--default-gaps-default-paddings-pd-default)
    var(--default-gaps-default-paddings-pd-medium) var(--padding-sm);
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--buttons-secondary-text-text-light-mode);
  font-family: var(--display-1-medium);
}
.backgroundChatIcon {
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(1.774);
}
.wrapperBackgroundChat {
  height: 936px;
  width: 936px;
  position: absolute;
  margin: 0 !important;
  right: -138px;
  bottom: -1590.9px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.chatBodyWrapper,
.topBarWrapperParent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.chatBodyWrapper {
  height: 252px;
  flex-direction: row;
  padding: var(--padding-21xl) 0;
  box-sizing: border-box;
  position: relative;
}
.topBarWrapperParent {
  flex-direction: column;
}
