@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --display-1-medium: Inter;

  /* font sizes */
  --display-1-medium-size: 12px;
  --paragraph-default-regular-size: 14px;
  --font-size-base: 16px;

  /* Colors */
  --sections-bg-color-2: #f7f8fa;
  --cards-borders-br-color-1: #f0f2f5;
  --sections-bg-color-1: #fff;
  --buttons-border-primary-gradient: #174bd2;
  --buttons-secondary-text-text-light-mode: #19213d;
  --inputs-select-text-text-neutral: #666f8d;
  --cards-borders-br-color-2: #e3e6ea;

  /* Spacing */
  --br-size-4: 16px;
  --default-gaps-default-gaps-gap-extra-large: 40px;
  --default-gaps-default-paddings-pd-medium: 24px;
  --default-gaps-default-paddings-pd-default: 16px;
  --inputs-select-regular: 16px;
  --default-gaps-default-gaps-gap-medium: 16px;
  --buttons-gaps-gap-small: 4px;
  --buttons-paddings-pd-small: 8px;
  --buttons-regular: 8px;
  --buttons-paddings-pd-regular: 12px;
  --default-gaps-default-gaps-gap-default: 12px;
  --badges-gaps-gap-small: 4px;
  --badges-small: 4px;
  --default-gaps-default-gaps-gap-small: 8px;
  --default-gaps-default-gaps-gap-tiny: 2px;
  --br-pill: 200px;
  --default-gaps-default-gaps-gap-large: 24px;
  --inputs-input-text-paddings-pd-regular: 12px;
  --inputs-input-text-paddings-pd-small: 6px;
  --inputs-select-small: 8px;
  --badges-gaps-gap-small1: 4px;
  --badges-paddings-pd-small1: 6px;
  --badges-small1: 4px;
  --sizes-size-6: 32px;
  --tabs-tables-paddings-pd-small: 8px;
  --br-pill1: 200px;

  /* Gaps */
  --gap-xl: 20px;
  --gap-base-5: 15.5px;
  --gap-89xl-5: 108.5px;
  --gap-base: 16px;
  --gap-9xs: 4px;
  --gap-5xs: 8px;
  --gap-lg: 18px;
  --gap-xs: 12px;
  --gap-11xs: 2px;
  --gap-5xl: 24px;
  --gap-48xs-3: -35.3px;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-2xs: 11px;
  --padding-21xl: 40px;
  --padding-31xl-5: 50.5px;
  --padding-6xl: 25px;
  --padding-3xl: 22px;
  --padding-4xl: 23px;
  --padding-sm: 14px;
  --padding-7xs: 6px;
  --padding-mini: 15px;
  --padding-5xs: 8px;
  --padding-xs: 12px;
  --padding-5xl: 24px;
  --padding-9xs: 4px;
  --padding-8xs: 5px;
  --padding-base: 16px;

  /* Border radiuses */
  --br-base: 16px;
  --br-5xs: 8px;
  --br-9xs: 4px;
  --br-181xl: 200px;

  /* Effects */
  --neutral-bs-small: 0px 1px 3px rgba(25, 33, 61, 0.1);
  --neutral-bs-regular: 0px 2px 4px rgba(25, 33, 61, 0.08);
  --button-primary: 0px 2px 5px rgba(20, 88, 201, 0.17),
    0px -2px 0.3px rgba(14, 56, 125, 0.18) inset,
    0px 2px 1px rgba(255, 255, 255, 0.22) inset;
}
